
.rules {
    padding: 150px 40px;
    font-size:1.8rem;
    background-color: #f0f0f0;
    font-size: 1.7rem;

}

.rules ul li {
    padding: 3px 0;
    margin-left: 18px;
    color: rgb(54, 55, 55);
    margin-top: 15px;
}

.rules p {
    color: rgb(54, 55, 55);
    margin-top: 15px;

}

.rules h2 {
    margin-top: 10px;
}