
.sitemap {
    padding: 150px 80px;
    font-size:1.8rem;
    background-color: #f0f0f0;
    font-size: 1.7rem;

}

.sitemap a {
    color: #da3114;
    &:hover {
        text-decoration: underline;
    }
   
}



