
.privacypolicy {
    padding: 140px 40px;
    font-size:1.8rem;
    background-color: #f0f0f0;
}

.privacypolicy p {
    margin-top: 15px;
    font-weight: 400;
    color: rgb(88, 90, 90);
} 

.privacypolicy h2 {
    font-size: 2.4rem;
    margin-top: 15px;

}

.privacypolicy h3 {
    font-size: 2.2rem;
    margin-top: 15px;

}